# The id of the mod to launch by default.  This must exist as a directory in the mods directory
MOD_ID="example"

ENGINE_VERSION="f75115a"

# Import the default OpenRA mods for use as external mod references
# in your mod.yaml. Accepts values "True" or "False".
# WARNING: This setting is provided to simplify early mod development
# and must be disabled before installers can be generated
INCLUDE_DEFAULT_MODS="False"

# Automatically manage engine dependencies
AUTOMATIC_ENGINE_MANAGEMENT="True"
AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"

# Temporary file/directory names used when automatically downloading the engine
AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"

ENGINE_DIRECTORY="./engine"
